* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #514945;
  font-size: 16px;
}
.wrapper_70 {
  width: 70%;
  margin: 0 auto;
}

/* HEADER */

/* NAVBAR */
.nav_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  background-color: #1e2326;
}
.navbar {
  background-color: #d55c5a;
}
.nav_logo {
  height: 100px;
  background-color: #ebd4cc;
}

/* JUMBO */
.jumbo {
  margin: 0 auto;
  height: 500px;
  background-color: #894242;
}

/* BOTTOM NAV */
.bottom_nav {
  height: 100px;
  background-color: #f5918f;
}

/* /HEADER */

/* MAIN */

/* TOP MAIN */
.top_main {
  height: 400px;
  background-color: #ebd4cc;
}

/* CENTER MAIN */
.center_main {
  height: 400px;
  background-color: #d55c5a;
}

/* BOTTOM MAIN */
.bottom_main {
  height: 400px;
  background-color: #ebd4cc;
}

/* /MAIN */


/* FOOTER */
.top_footer {
  height: 400px;
  background-color: #d55c5a;
}
.bottom_footer {
  height: 400px;
  background-color: #ebd4cc;
}

/* /FOOTER */














/* QUERY */
@media screen and (max-width: 900px) {
  .wrapper_70 {
    width: 100%;
  }
}
